body{
    margin: 0;
    padding: 0;
}

table, th, td{
    border: 1px solid #e7e7e7;
}

.project{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #1c1c1c;
    color: #fff;
}

.color{
    color: aliceblue;
    display: flex;
}